#videostot{
	float:left;
	margin-left: 2%;
	height: 120px;
    width: 96%;
}
#conten{
	float:left;
	margin-left: 10%;
	height: 40px;
    width: 80%;
}

#fecha{
	float: left;
	margin-left: 1%;
    height: 350px;
    width: 20%;

}

#mapse{
	float: left;
	margin-left: 10%;
    height: 350px;
    width: 80%;
	    border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

#tweets{
	float: left;
	margin-left: 0%;
    height: 0px;
    width: 0%;
	
	    border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

#query, #canti{
	width: 20%;
}

#signout-button{
	margin-right: 10%;
}
