#div-videos{
	float:left;
	margin-left: 2%;
	height: 120px;
    width: 96%;
}
#controles{
	float:left;
	margin-left: 10%;
	height: 40px;
    width: 80%;
}

#map{
	float: left;
	margin-left: 10%;
    height: 350px;
    width: 80%;

    border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

#fecha{
	float: left;
	margin-left: 1%;
    height: 350px;
    width: 20%;

}

#tablatweets{
	float: left;
	margin-left: 10%;
    height: 350px;
    width: 60%;

    border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

#query, #cantidad{
	width: 20%;
}

#signout-button{
	margin-right: 10%;
}
